.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1rem;
    background-color: var(--overlay_dark);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        gap: 1.5rem;

        .header-navlink {
            color: var(--text_light_inactive);
            transition: all 0.5s ease-out;
            padding: 0.2rem 0.5rem;

            &:hover {
                color: var(--primary_green_light);
            }

            &.active {
                color: var(--text_light);
            }

            &.highlight {
                background-color: rgba(184, 255, 184, 0.479);
                border-radius: 50px;
                backdrop-filter: blur(10px);
            }
        }
    }

    .logo {
        img {
            margin-bottom: -1.1rem;
            height: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0.5rem 1rem;

        .menu-icon {
            display: block;
        }

        .menu {
            display: none;

            &.open {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 65px;
                right: 0;
                background-color: var(--overlay_dark);
                padding: 1rem 1.5rem;
                border-radius: 3px;
            }
        }

        .logo {
            height: 50px;

            img {
                height: 100%;
            }
        }
    }
}
