.search-result {
    background-color: var(--bg_light);
    padding-top: 5rem;
    text-align: center;
    
    .search-text {
        margin-bottom: 2rem;
    }

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .search-result {
        padding: 3rem 0.5rem;
    }
}
